* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  background-color: rgba(89, 107, 124, 0.13);
  padding: 20px 40px;
  margin-bottom: 50px;
}

.post-header {
  margin-bottom: 25px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(69, 69, 69);
  border-top: 8px solid #1098ad;
  background-color: rgba(89, 107, 124, 0.01);
  position: relative;
}

.big-pic {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  color: #1098ad;
  margin-bottom: 25px;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: 40px;
  position: relative;
}

h2::after {
  content: "TOP Article";
  background-color: #ffe70e;
  color: rgb(69, 69, 69);
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -45px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 45px;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-size: 18px;
  margin-bottom: 10px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

aside {
  margin-top: 40px;
  background-color: rgba(89, 107, 124, 0.13);
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 20px 0;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dashed aqua;
}

a:active {
  color: black;
  font-style: italic;
}

nav {
  text-align: center;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  position: absolute;
  bottom: 50px;
  right: 10px;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#author {
  margin: 0 10px;
}

.related-post {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
}

.related-author {
  margin: 0;
  font-size: 15px;
}
/* .row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

aside {
  flex: 0 0 300px;
}

article {
  flex: 1;
} */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 75px;
  align-items: start;
}
.main-header {
  grid-column: 1/-1;
}
footer {
  grid-column: 1/-1;
}

aside {
  padding-bottom: 20px;
}
